body{
    background-color: #1A2750;
    height: 100vh;
    text-align: center;
    width: 100%;
}
.pageTitle{
    color: #FFFFFF;
    display: flex;

}
.pageTitle img{
    margin-top: 10px;
}
form{
    color: white;
    /* width: 80%; */
    margin: auto;
}
.buttonColor{
    background-color: #2CA467;
}
.ratioButton{
    display: flex;
    justify-content: space-between;
}
.selectMenu{
    width: 50%;
    height: 37px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}
.tableHeader{
    color: white;
}

.usrname {
    text-align: left;
    color: white;
}
.dataTables_info{
    color:white
}
.dataTables_length {
    color: white;
}
.dataTables_filter{
    color: white;
}
#EditTopicForm{
    display: none;
}